@page "/"



<AuthorizeView>
    <Authorized>
        <h1>Hello, world!</h1>

        Welcome to your new app.


    </Authorized>
    <NotAuthorized>
        <h1>You Haven't logined</h1>
    </NotAuthorized>
</AuthorizeView>